{% extends '@CurrencyConverter/layout/layout_main.html.twig' %}

{% block title_detailed %}{{ title }}{% endblock %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {% include '@CurrencyConverter/_embed/_breadcrumbs.html.twig' with {
                'sectionTitle': sectionTitle,
                'title_entity': null,
                'actionUrl': path('list_currencies_action')
            } %}
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            <div class="form-group row">
                <div class="col-md-1">
                    {{ form_label(form.title) }}
                </div>
                <div class="col-md-11">
                    {{ form_widget(form.title) }}
                    <div class="form-error">
                        {{ form_errors(form.title) }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-1">
                    {{ form_label(form.code) }}
                </div>
                <div class="col-md-11">
                    {{ form_widget(form.code) }}
                    <div class="form-error">
                        {{ form_errors(form.code) }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-1">
                    {{ form_label(form.rate) }}
                </div>
                <div class="col-md-11">
                    {{ form_widget(form.rate) }}
                    <div class="form-error">
                        {{ form_errors(form.rate) }}
                    </div>
                </div>
            </div>
            <hr/>
            {% include '@CurrencyConverter/_embed/_form_buttons.html.twig' with {
                'entity': null,
                'catalogUrl': path('list_currencies_action'),
                'submitBtn': form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}),
            } %}
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
