{% extends '@CurrencyConverter/layout/layout_main.html.twig' %}
{% trans_default_domain 'CurrencyConverterBundle' %}

{% block title_detailed %}{{ 'dashboard'|trans }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ 'header_menu.dashboard'|trans }}</h1>
        </div>
        <div class="row">
            {% if last_updated_currencies is not empty %}
                {% for currency in last_updated_currencies %}
                    <div class="col-xl-4 col-md-6 mb-4">
                        <div class="card border-left-dark shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            {{ currency.title }}
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{ currency.rate }}
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        {{ currency.code }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-xs font-weight-bold text-gray-500 text-right">
                                    {{ 'currencies.actions.dashboard.title_update_at'|trans }}: <span class="text-primary">{{ currency.formattedUpdatedAt }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
