{% extends '@CurrencyConverter/layout/layout_main.html.twig' %}
{% trans_default_domain 'CurrencyConverterBundle' %}

{% block title_detailed %}{{ 'currencies.list'|trans }}{% endblock %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {% include '@CurrencyConverter/_embed/_header_action.html.twig' with
                {
                    'sectionTitle': 'currencies.list'|trans,
                    'show_btn_update': true
                }
            %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="main_table">
                    <thead>
                    <tr class="text-center">
                        <th>{{ 'currencies.actions.list.id'|trans }}</th>
                        <th>{{ 'currencies.actions.list.title'|trans }}</th>
                        <th>{{ 'currencies.actions.list.code'|trans }}</th>
                        <th>{{ 'currencies.actions.list.rate'|trans }}</th>
                        <th>{{ 'currencies.actions.list.updated_at'|trans }}</th>
                        <th>{{ 'currencies.actions.list.created_at'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for currency in currencies %}
                        <tr>
                            <td>{{ currency.id }}</td>
                            <td>{{ currency.title }}</td>
                            <td>{{ currency.code }}</td>
                            <td>{{ currency.rate }}</td>
                            <td>{{ currency.updatedAt|date('Y-m-d H:i:s') }}</td>
                            <td>{{ currency.createdAt|date('Y-m-d H:i:s') }}</td>
                            <td>
                                <a href="{{ path('edit_currency_form_action', { id: currency.id }) }}" class="btn btn-outline-info">
                                    Edit
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7" class="text-center">
                                <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                                    {{ 'currencies.actions.list.empty'|trans }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
