{% trans_default_domain 'CurrencyConverterBundle' %}

<nav>
    <ul class="pagination justify-content-start">
        {% if currentPage > 1 %}
            <li class="page-item">
                <a href="#"
                   class="page-link"
                   data-page="{{ currentPage - 1 }}"
                   data-route="{{ path(routeName, { page: currentPage - 1 }) }}"
                >
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% for page in 1..totalPages %}
            <li class="page-item {% if page == currentPage %}active{% endif %}">
                <a href="#"
                   class="page-link"
                   data-page="{{ page }}"
                   data-route="{{ path(routeName, { page: page }) }}"
                >
                    {{ page }}
                </a>
            </li>
        {% endfor %}

        {% if currentPage < totalPages %}
            <li class="page-item">
                <a href="#" class="page-link"
                   data-page="{{ currentPage + 1 }}"
                   data-route="{{ path(routeName, { page: currentPage + 1 }) }}"
                >
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
